async-generator==1.10
attrs==19.3.0
h11==0.16.0
idna==3.7
ipaddress==1.0.23
multidict==4.7.3
outcome==1.0.1
sniffio==1.1.0
sortedcontainers==2.1.0
trio==0.13.0
trio-chrome-devtools-protocol==0.3.0
trio-websocket==0.8.0
wsaccel==0.6.2
wsproto==0.14.1
yarl==1.4.2
